*
{
  /* font-family: 'Quicksand', sans-serif;
  font-family: 'Abadi', sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


body
{
  margin: 0;
  background-color: white;
  
  


}

.container{
  display:flex;
  flex-flow:column nowrap;
  gap:25px;
}

.FIXED{
  display: flex;
  flex-flow: column nowrap;
  gap:25px;

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

